<form action="/fighters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Create Your Fighter:</h2>
  <b>Name:&emsp;</b><input type='text' name='fighter[name]'/><br/>
  <b>Style:&emsp;</b><input type='text' name='fighter[style]'/><br/>
  <b>Rival:&emsp;</b><input type='text' name='fighter[rival]'/><br/>
  <b>Rank:&emsp;</b><input type='text' name='fighter[rank]'/><br/>
  <input type='submit'/>
</form>