<form action="/fighters/:id/moves" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Create A New Move</h2>
  <b>Name:&emsp;</b><input type='text' name='move[name]'/><br>
  <b>Power:&emsp;</b><input type='text' name='move[power]'/><br>
  <b>Speed:&emsp;</b><input type='text' name='move[speed]'/><br>
  <b>Grade:&emsp;</b><input type='text' name='move[grade]'/><br>
  <b>Top Tier:&emsp;</b><input type='text' name='move[top_tier]'/><br>
  <input type='submit'/>
</form>